.ipynb_checkpoints/columnsfmri-checkpoint.ipynb
.ipynb_checkpoints/columnsfmri-checkpoint.py
.ipynb_checkpoints
__pycache__/columnsfmri.cpython-36.pyc
Matlab/.ipynb_checkpoints/setParameters-checkpoint.m
Matlab/.ipynb_checkpoints/simulatefMRIOfColumnPatterns-checkpoint.m
Python/__pycache__/columnsfmri.cpython-36.pyc